<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Orders
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="pois.length > 0">
    <button ion-item *ngFor="let order of orders" (click)="viewOrder(order)">
      <!-- {{ order.order_no }} -->
      {{ displayPoiName(order.pickups[0].pickup_id) | titlecase  }} > {{ displayPoiName(order.dropoffs[order.dropoffs.length - 1].drop_id) | titlecase }}
    </button>  
  </ion-list>
  <ion-card *ngIf="orders.length == 0">
    <ion-card-content>
      <ion-icon name="sad"></ion-icon> You have no orders assigned
    </ion-card-content>
  </ion-card>
</ion-content>
